body {
    padding: 1rem;
}

section > div {
    width: 80%;
    margin: 1rem auto;
}

form {
  margin-top: 20px;
}

h1{
    background-color: maroon;
    text-align: center;
    border-radius: 4px;
    font-family: "Helvetica";
    color: white;
    padding: 1rem;
}

#details{
    color: black;
}

#mainButton{
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 10px 220px;
     text-align: center;
     border-radius: 2px;    
     font-size: 16px; 
     font-family: "Trebuchet MS"
}

#personForm label{
    font-size: 20px;
    font-family: "Trebuchet MS";
}


#details li{
    list-style-type: none;
    color: white;
    font: 300 20px "Trebuchet MS";
    padding: 15px;
}

#details button{
    color: yellow;
    font: 14px "Trebuchet MS";
    padding: 20px 40px;
    -ms-grid-row-align: end;    
}

.notclicked{
     background-color: black;
}

.clicked {
    background-color: turquoise;
}

dt, dd {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

dl:nth-of-type(even) {
  background-color: WhiteSmoke;
}

@media (min-width: 700px) {
  section > div {
    width: 60%;
  }
}

@media (min-width: 900px) {
  section > div {
    float: left;
    margin: 20px 5%;
    width: 40%;
  }

  section::after {
    clear: both;
    content: "";
    display: table;
  }

}